
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #555;
    background-color: #bee2e2;
    padding-top: 41px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

a {
    color: #ef181e;
    outline: medium none;
    text-decoration: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar {
    min-height: 40px;
}
.navbar-default {
    color: #efffff;
    background-color: #00a5a5;
}

.navbar-default .navbar-brand {
    color: #efffff;
    background-color: #00a5a5;
    text-shadow: 1px 1px 2px #6d6b6b;
    padding: 10px;
    height: 40px;
}

.navbar-default .navbar-nav > li > a {
    color: #efffff;
    text-shadow: 1px 1px 2px #6d6b6b;
    padding: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #efffff;
    background-color: #00cecf;
    text-shadow: 1px 1px 2px #6d6b6b;
}

.top_content {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top_content h1 {
    margin: 0;
}
@media (min-width: 1200px) {
    .container {
        width: 980px;
    }
}

.content .container {
    background-color: #fff;
    border-top: 5px solid #00a5a5;
    margin-top: 40px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    margin-top: 2em;
    background-color: #fff;
    color: #555;
    font-size: 0.9em;
}

.footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #66C9C9;
    border-color: #19aeae;
    color: #fff;
    font-weight: 700
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #00a5a5;
    border-color: #008484;
}

.btn-primary.focus,
.btn-primary:focus {
    border-color: #008484;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
